*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #6495ED;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

.container {
    width: 85%;
    margin: 0 auto;

}

h1 {
    font-size: 6rem;
    margin-top: 5rem;
}

.subtitle {
    font-size: 2rem;
    margin-bottom: 20px;
}

h1, .subtitle, #save-el {
    font-family: "Righteous", sans-serif;
    letter-spacing: 4px;
    color: wheat;
}

#count-el {
    font-size: 10rem;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    color: whitesmoke;
    font-size: 1.35rem;
    font-weight: bold;
    padding: 0.8rem 2.5rem;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    transition: 0.25s;
    margin: 0 15px;
    margin-bottom: 20px;
}

button:hover {
    transform: scale(1.05);
    opacity: 0.9;

}

#increment-btn {
    background-color: #20B2AA;
    
}

#decrement-btn {
    background-color: #FF6347;
}

#save-btn {
    background-color: #4169E1;
}

#reset-btn {
    background-color: darkred;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    padding: 1rem 0;
    font-size: 1.5rem;
    margin: 0;
}

#save-el {
    font-size: 1.5rem;
    margin-top: 80px;
    margin-bottom: 100px;
    text-transform: uppercase;
}

